ion-toolbar {
  --background: #0d47a1;
  --color: white;
  text-align: center;
  .logo-img {
    width: 50px; 
    height: 50px; 
    margin-right: 5%;
  }
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.page-title {
  color: #1e90ff;
  font-size: 24px;
  margin-top: 20px;
}

.card {
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.input-item {
  --background: #f0f8ff;
  --highlight-background: #e0ffff;
}

.register-button {
  margin-top: 20px;
  background-color: #1e90ff;
  color: white;
  font-weight: bold;
  border-radius: 15px;
}

.back-button {
  margin-top: 20px;
  background-color: #32cd32;
  color: white;
  font-weight: bold;
  border-radius: 15px;
}
